{
  "env": {
    "node": true,
    "es2021": true,
    "jest": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "plugin:jest/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  }
}
